@model IEnumerable<netcoretodo.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.todoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.todoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.todoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


